[Desktop Entry]
Type=Link
Name=openSUSE Dock
Icon=openSUSE-Enlightenment
Comment=openSUSE profile providing a familiar environment with a dock setup<br>containing a dock widget at the bottom, known key bindings,<br>familiar environment and integration to openSUSE
