[Desktop Entry]
Type=Link
Name=openSUSE desktop
Icon=openSUSE17
Comment=openSUSE profile providing known key bindings, familiar environment and integration to openSUSE
