[Desktop Entry]
Type=Link
Name=openSUSE Classic Desktop 
Icon=openSUSE17
Comment=openSUSE profile providing a familiar environment with a classical setup<br>containing a taskbar at the bottom, known key bindings,<br>familiar environment and integration to openSUSE
